.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
build/**
temp
tsconfig.json
webpack.config.js
.vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js